In [39]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [41]:
data = pd.read_csv("data/train.csv")

In [42]:
from pipeline.pipeline import make_pipeline
data = make_pipeline(data)

/workspaces/kaggle-actions/spaceship_titanic/spaceship/pipeline/pipeline.py:18: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  data[["Deck", "Num", "Side"]] = data["Cabin"].str.split('/', 3, expand=True)

In [43]:
data.columns.values[0:1000]

array(['PassengerId', 'Cabin', 'Age', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported',
       'HomePlanet_Earth', 'HomePlanet_Europa', 'HomePlanet_Mars',
       'VIP_False', 'VIP_True', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e', 'Num',
       'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F',
       'Deck_G', 'Deck_T', 'Side_P', 'Side_S', 'CryoSleep_False',
       'CryoSleep_True'], dtype=object)

In [44]:
pd.crosstab(data.Transported, data.HomePlanet_Earth, margins=True, normalize=True)
pd.crosstab(data.Transported, data.HomePlanet_Europa, margins=True, normalize=True)
pd.crosstab(data.Transported, data.HomePlanet_Mars, margins=True, normalize=True)

HomePlanet_Mars         0         1       All
Transported
False            0.399862  0.096514  0.496376
True             0.397791  0.105832  0.503624
All              0.797653  0.202347  1.000000

In [45]:
pd.crosstab(data.Transported, data.VIP_True, margins=True, normalize=True)
pd.crosstab(data.Transported, data.VIP_False, margins=True, normalize=True)

VIP_False           0         1       All
Transported
False        0.025538  0.470839  0.496376
True         0.020706  0.482917  0.503624
All          0.046244  0.953756  1.000000

In [46]:
pd.crosstab(data.Transported, data.Deck_A, margins=True, normalize=True)
pd.crosstab(data.Transported, data.Deck_B, margins=True, normalize=True)
pd.crosstab(data.Transported, data.Deck_C, margins=True, normalize=True)

Deck_C              0         1       All
Transported
False        0.468883  0.027493  0.496376
True         0.445186  0.058438  0.503624
All          0.914069  0.085931  1.000000

In [47]:
pd.crosstab(data.Transported, data.Side_P, margins=True, normalize=True)
pd.crosstab(data.Transported, data.Side_S, margins=True, normalize=True)

Side_S              0         1       All
Transported
False        0.276889  0.219487  0.496376
True         0.229840  0.273784  0.503624
All          0.506730  0.493270  1.000000

In [48]:
pd.crosstab(data.Transported, data["Destination_55 Cancri e"], margins=True, normalize=True)
pd.crosstab(data.Transported, data["Destination_PSO J318.5-22"], margins=True, normalize=True)

Destination_PSO J318.5-22         0         1       All
Transported
False                      0.450938  0.045439  0.496376
True                       0.457495  0.046129  0.503624
All                        0.908432  0.091568  1.000000

In [49]:
pd.crosstab(data.Transported, data["CryoSleep_False"], margins=True, normalize=True)
pd.crosstab(data.Transported, data["CryoSleep_True"], margins=True, normalize=True)

CryoSleep_True         0         1       All
Transported
False           0.432647  0.063729  0.496376
True            0.217991  0.285632  0.503624
All             0.650638  0.349362  1.000000

In [50]:
data[["Transported", "Age"]].groupby('Transported').mean()
data[["Transported", "RoomService"]].groupby('Transported').mean()
data[["Transported", "FoodCourt"]].groupby('Transported').mean()
data[["Transported", "ShoppingMall"]].groupby('Transported').mean()
data[["Transported", "Spa"]].groupby('Transported').mean()
data[["Transported", "VRDeck"]].groupby('Transported').mean()
data[["Transported", "Num"]].groupby('Transported').mean()

                    Num
Transported
False        619.107995
True         574.016674